audio/bombas/*
audio/chips/*
audio/ludes/*
audio/sonks/*
audio/talkers/*
!bass-spikey-wobble.wav
!screen-scrape.wav
!a-1-1.wav
!a-1-2.wav
!elevator-lude.wav
!00\ asmr-1.wav
!00\ asmr-2.wav
!00\ Unknown\ Track-3.wav